<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  <div class="row justify-content-center">
  <div class="col-10">
    <%= render 'form'%>
  </div>
  <div class="mb-4">
    <%= link_to 'Cancle And Return To Category Listing', category_path, class:'text-info'%>
  </div>
  </div>
</div>